<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url %>
</p>

<%= link_to 'プロフィールの編集', edit_user_path(@user) %>
<%= link_to '新規投稿', new_post_path(@post) %> |
<%= link_to '一覧画面に戻る', posts_path %>